@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
	.nav {
		background-color: inherit;
	}
}

.underline-hover {
	position: relative;
}

.underline-hover:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline-hover:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.bg-pattern {
	background: linear-gradient(135deg, #edf2f4 25%, transparent 25%) -65px 0/
			130px 130px,
		linear-gradient(225deg, rgba(237, 242, 244, 0.5) 25%, transparent 25%) -65px
			0/ 130px 130px,
		linear-gradient(315deg, #edf2f4 25%, transparent 25%) 0 0/ 130px 130px,
		linear-gradient(45deg, rgba(237, 242, 244, 0.5) 25%, #2b2d42 25%) 0 0/ 130px
			130px;
	background-color: #2b2d42;
}
