@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
	.nav {
		background-color: inherit;
	}
}

.underline-hover {
	position: relative;
}

.underline-hover:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #ffffff;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline-hover:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.bg-pattern {
	background: linear-gradient(135deg, #edf2f4 25%, transparent 25%) -65px 0/
			130px 130px,
		linear-gradient(225deg, rgba(237, 242, 244, 0.5) 25%, transparent 25%) -65px
			0/ 130px 130px,
		linear-gradient(315deg, #edf2f4 25%, transparent 25%) 0 0/ 130px 130px,
		linear-gradient(45deg, rgba(237, 242, 244, 0.5) 25%, #2b2d42 25%) 0 0/ 130px
			130px;
	background-color: #2b2d42;
}

/* loading spinner */
.loading-whirl {
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 50px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	width: 50px;
}
.loading-whirl:after,
.loading-whirl:before {
	border: 6px solid #2b2d42;
	border-radius: 100%;
	position: absolute;
	content: '';
	display: block;
}
.loading-whirl-secondry:after,
.loading-whirl-secondry:before {
	border: 6px solid #edf2f4;
}
.loading-whirl:before {
	border-bottom-color: transparent;
	border-left-color: transparent;
	animation: spin 0.75s infinite linear reverse;
	height: 30px;
	width: 30px;
}
.loading-whirl:after {
	-webkit-animation: spin 0.5s infinite linear;
	animation: spin 0.5s infinite linear;
	height: 50px;
	width: 50px;
	border-right-color: transparent;
	border-top-color: transparent;
}

@-webkit-keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spin {
	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* font-size clamps */
.h1-clamp {
	font-size: clamp(1.5rem, 8vw, 2.25rem);
}

.CTA-shadow {
	box-shadow: 0px -9px 19px -2px rgba(0, 0, 0, 0.33);
	-webkit-box-shadow: 1px -9px 19px -2px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 1px -9px 19px -2px rgba(0, 0, 0, 0.33);
}

.dropdown-menu {
	transition: max-height 0.35s ease-in-out;
	height: 36px;
	max-height: 36px;
}

.dropdown-menu-active {
	height: 110px;
	/* transition: max-height 0.5s ease; */
	max-height: 110px;
	overflow: hidden;
}

.orders-stats {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.rounded-50 {
	border-radius: 50%;
}

.profile-pic:hover .profile-pic-edit {
	bottom: 0px;
}

.dashboard-menu-item {
	cursor: pointer;
	padding: 0.5rem;
	margin: 0.5rem;
	display: flex;
	justify-content: space-between;
	border-radius: 10px;
	transition: all 0.2s ease-in;
}

.dashboard-menu-item:hover {
	background-color: #ffffff;
}

.menu-tab {
	position: absolute;
	top: 0;
	flex-direction: column;
	min-height: 389px;
	gap: 1rem;
	width: 100%;
	border-radius: 40px;
	background-color: #edf2f4;
	padding: 32px;
	transition: all 300ms ease-in-out;
}

@media screen and (min-width: 760px) {
	.menu-tab {
		position: static;
		height: 100%;
	}
}

.menu-tab-heading {
	font-weight: 600;
	font-size: 1.125rem;
	display: flex;
	align-items: center;
}

.dashboard-parent {
	height: 840px;
}

.form-item {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@media screen and (min-width: 760px) {
	.form-item {
		flex-direction: row;
	}
}

.form-item-input {
	text-indent: 4px;
	border-radius: 5px;
	outline: #545454 solid 1px;
}

.form-item-input:focus {
	outline: #db4d4d solid 1px;
}

.cart-menu {
	background: #edf2f4;
	border-radius: 10px;
}

.cart-menu::after {
	content: '';
	position: absolute;
	display: block;
	width: 0;
	z-index: 1;
	border-style: solid;
	border-color: #edf2f4 transparent;
	border-width: 0 19px 20px;
	top: -20px;
	left: 86%;
	margin-left: -19px;
}
