@import url('https://fonts.googleapis.com/css2?family=Anton&family=Poppins:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 1024px) {
	.nav {
		background-color: inherit;
	}
}

.underline-hover:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #0087ca;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}

.underline-hover:hover:after {
	transform: scaleX(1);
	transform-origin: bottom left;
}
